<h1>
  Title: <%= @question.title %>
</h1>
<p>
  Question: <%= @question.body %>
</p>



<h1>Answers:</h1>

<%= form_for [@question, @answer] do |f| %>

<% if @answer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@answer.errors.count, "error") %>
    prohibited this question from being saved:</h2>

  <ul>
    <% @answer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% @answers.each do |t| %>
<p>
  <% if t.best %>
  *** Best answer ***
  <% end %>
  <%= t.body %>
  <% unless t.best %>
    <%= link_to "Best", answer_path(t), method: :put %>
  <% end %>
</p>
<% end %>


<div class="field">
  <%= f.label :description, "Answer" %><br>
  <%= f.text_field :body %>
</div>

<div class="action">
  <%= f.submit %>
</div>
<% end %>

<br/>
<p>
  <%= link_to "Edit Question", edit_question_path(@question) %>
</p>
<p>
  <%= link_to "Delete Question", @question, method: :delete, data: { confirm: "Are you sure?" } %>
</p>
<a href="/">Go back to Questions page</a>
