<h1>
  Title:
  <%= @question.title %>
</h1>
<p>
  Question:
  <%= markdown(@question.body) %>
</p>

<% if @answers.any? %>
  <h2> Current Answers: </h2>
<% end %>

<%= form_for [@question, @answer] do |f| %>

  <% @answers.each do |answer| %>
  <p>
    <% unless answer.best %>
    <%= link_to "Best", answer_path(answer), method: :put %>
    <% end %>

    <% if answer.best %>
    *** Best answer ***
    <% end %>
    <%= markdown(answer.body) %>
  </p>
  <% end %>

  <div class="field">
    <%= f.text_field :body %>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>

<br/>
<p>
  <%= link_to "Edit Question", edit_question_path(@question) %>
</p>
<p>
  <%= link_to "Delete Question", @question, method: :delete, data: { confirm: "Are you sure?" } %>
</p>
<a href="/">Go back to questions page</a>
