<h1> <%= @question.title %> </h1>
<p> <%= @question.body %> </p>

<%= link_to "Edit", edit_question_path(@question) %>
<%= link_to "Delete", @question, method: :delete, data: { confirm: "Are you sure?" } %>

<h1>Answer the question:</h1>

<%= form_for [@question, @answer] do |f| %>

<% if @answer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this question from being saved:</h2>

    <ul>
    <% @answer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <% @answers.each do |answer| %>
    <p> <%= answer.body %> </p>
  <% end %>

<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :body %>
</div>

<div class="action">
  <%= f.submit %>
</div>
<% end %>
<br />
<a href="/">Go back to Questions page</a>
